/* Add your own custom styles here */
body {
    font-family: 'Fira Code', monospace;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga", "calt";
}



/* Dark mode */

.dark .MathJax {
    color: rgb(216, 208, 208);
    /* Force white color in dark mode */
}